=simple_form_for(@type_two_user, :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    %legend
      Adicionar Novo Usuário Tipo 2
    =f.input :name
    =f.input :email
    =f.input :username
    =f.input :cpf
    =f.input :rg
    =f.input :birthdate, :as => :date, :start_year => Date.today.year - 80, :end_year => Date.today.year - 15, :input_html => {:class => 'input-small'}
    %div.form-actions
      =f.button :submit, "Cadastrar"
      =link_to "Cancelar", type_two_users_path, :class => :btn

